body {
  display: flex;
}
.sidebar {
  max-width: 270px;
  width: 100%;
  background-color: #ecedf5;
}
main {
  width: 100%;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
}
.catalog {
  margin-top: 1px;
  height: calc(100vh - 120px);
  overflow-y: scroll;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.catalog__product {
  height: 270px;
  flex: 1 270px;
  max-width: 270px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #e4e5ec;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
}
.catalog__product:hover {
  border: 2px solid #61d4df;
}
.catalog__prices {
  border-top: 1px solid #e4e5ec;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalog__photo {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.catalog__photo img {
  max-width: 100%;
  max-height: 100%;
}
.catalog__title {
  padding-left: 5px;
  padding-right: 5px;
  text-align: justify;
}
.nav {
  height: 120px;
}
.nav__sort {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: white;
  border-bottom: 1px solid #f8f9fa;
}
.nav__sort select {
  margin-left: 50px;
}

.nav__search img {
  margin-left: 5px;
  width: 30px;
  height: 30px;
}
.nav__menu {
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav__search-btn {
  height: 36px;
  cursor: pointer;
  border: 1px solid rgb(204, 202, 202);
  border-left: none;
  background-color: white;
  border-radius: 0 5px 5px 0;
}
.nav__search-input {
  max-width: 300px;
  width: 100%;

  height: 32px;
  border: 1px solid rgb(204, 202, 202);
  border-right: none;
  padding-left: 10px;
  border-radius: 5px 0 0 5px;
}
.nav__search-input:focus {
  outline: none;
}

.nav__inventory-btn {
  height: 40px;
  max-width: 150px;
  margin-left: 10px;
  width: 100%;
  cursor: pointer;
  background-color: #61d5df;
  color: white;
  border: none;
  font-size: 12px;
  border-radius: 5px;
  font-weight: bold;
}
.nav__select {
  background-color: #61d5df;
  color: white;
  cursor: pointer;
  height: 33px;
  margin-right: 10px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
.nav__products {
  display: flex;
  align-items: center;
}
.nav__search {
  max-width: 600px;
  width: 100%;
  display: flex;
  align-items: center;
}
.nav__menu p {
  border-left: 1px solid lightgray;
  padding-left: 5px;
  font-size: 14px;
}

@media only screen and (max-width: 1000px) {
  .sidebar {
    display: none;
  }
}
